$bg: #F2F2F2;
$dark-font: #656565;
$light-font: #fff;
$project: #0054A5;
$study: #00A5A0;
$experiment: #A5007F;
$dark-font: #202020;
$shadow: 0 6px 10px rgba(0,0,0, .14);
$selected-row: rgba(170, 170, 170, .21);