$bg: #F2F2F2;
$dark-font: #656565;
$light-font: #fff;
$project: #1565C0;
$study: #00965E;
$experiment: #A05EB5;
$dark-font: #202020;
$shadow: 0 6px 10px rgba(0,0,0, .14);
$selected-row: rgba(170, 170, 170, .21);