@import './colors.scss';
body, html{
    min-height: 100vh;
    background: $bg;
    color: $dark-font;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
#container{
    min-height: 100vh;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
button{
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
ul{
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}