<nav class="a-side">
  <div class="icons">
    <span (click)="togleSide()">
      <i class="material-icons">dehaze</i>
    </span>
    <span>
      <i class="material-icons">assignment</i>
    </span>
    <span>
      <a routerLink="runs">
        <i class="material-icons">picture_as_pdf</i>
      </a>
    </span>
    <span>
      <a routerLink="slides">
        <i class="material-icons">photo_library</i>
      </a>
    </span>
  </div>
  <div class="menu" [ngClass]="{'menu-expanded': isSideBarExpanded, 'menu-collapsed': !isSideBarExpanded}">
    <span>Hide Menu</span>
    <span>Project Navigator</span>
    <span>
      <a routerLink="runs">Staining Runs</a>
    </span>
    <span>
      <a routerLink="slides">
        Slide List
      </a>
    </span>
  </div>
</nav>